* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100%;
  color: black;
  line-height: 1.7em;
}

#navbar {
  text-decoration: none;
  overflow: auto;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 18px;
  line-height: 26px;
  padding: 5rem 8rem;
  /* color: rgb(247, 245, 245); */
}

h1,
h2,
h3 {
  color: #26292c;
}

h1 {
  font-weight: 400;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.gap-1 {
  gap: 1rem;
}

li {
  list-style: none;
}

li a:hover,
li a.current {
  color: rgb(87, 29, 29);
  text-decoration: underline;
}

#navbar .row {
  padding: 5rem 10rem;
  font-family: "Montserrat", sans-serif;
}

.container-img {
  background: url("../img/mountain.jfif") no-repeat center;
  width: 100%;
  height: 100vh;
  min-height: 550px;
  /* display: block; */
  background-size: cover;
}

.container {
  text-align: center;
  padding: 6rem;
}

.lead {
  /* padding-top: 5rem; */
  position: relative;
  margin: 5rem 0 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(37, 36, 34);
}

.begin {
  font-size: 62px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  color: black;
  background: none;
  padding: 13px 60px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid;
}

.btn:hover {
  background: black;
  color: white;
  border: none;
}

/* Responsive web design */
.bg-ligth {
  background: white;
  color: #9fa3a7;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  line-height: 30px;
  font-size: 16px;
}


.info-content {
  padding: 10rem 0 8rem 8rem;
}
.in-content {
  padding: 9rem 5rem;
}

.head {
  padding: 2rem;
  font-weight: 800;
  font-size: 30px;
}
/* Service */

.bg-grey {
  background: #f4f4f4;
  
}

.text-grey {
  color: #9fa3a7;
}

.service {
  font-size: 42px;
  text-align: center;
}

.p-service {
  font-size: 20px;
  font-style: italic;
  padding: 3rem;
}

.box-wraped {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 3rem;
}

#service-info {
  text-align: center;
  font-weight: 300;
  /* display: flex;
  flex-direction: row;  */
  line-height: 30px;
  font-size: 100%;
  padding-top: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.box {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
   width: 25%;
  padding: 2rem;
}

.box p {
  color: #9fa3a7;
}

.underline {
  width: 4rem;
  background-color: rgb(119, 200, 235);
  height: 3px;
  margin: 4rem auto 0;

}

/* Responsive Web Design */

.responsive {
  background: #071021 url("../img/map.png") no-repeat center;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background-size: cover;
}

#responsive-design h2, 
#responsive-design .numbers, 
#responsive-design .web,
#responsive-design a{
  color: white;
}

.design {
  font-weight: 600;
  font-size: 4.2rem;
  }
  

  .responsive {
    padding: 14rem 6rem;
    text-align: center;
  }

.web {
  padding-top: 3rem;
  font-size: 1.3rem;
  padding-bottom: 6rem;
}

.butn {
  display: inline-block;
  font-size: 18px;
  background-color: #267df4;
  padding: 13px 60px;
  border-radius: 50px;
  cursor: pointer;
 
}

.butn:hover {
  background: #2c2c2d;
  color: white;
  border: none;
}

.numbers {
  font-size: 40px;
  font-weight: 300;
}

.new-design p {
  color: #0960d7;
  font-size: 1rem;
  font-weight: 500;
}

/* Footer */


.foot p {
  text-align: left;
  font-size: 16px;
    display: flex;
  flex-direction: row;
  line-height: 20px;
  color: #9fa3a7;
  padding-left: 8rem;
  padding-bottom: 3rem;
  width: 65%;
}

.bgrey-1
 {
  color: #9fa3a7;
}

.touch {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 1rem; */
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: 3rem;
  
    /* flex-wrap: wrap; */
 

}

/* .touch i {
  text-align: left;
  position:relative; right:120px; top: 3rem;
} */

/* .touch p {
  padding: ;
} */

.footer {
  flex-direction: row;
  display: flex;
  /* padding: 3rem; */
}

.keep {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  
}

.touch {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
}

.keep {
  padding: 0.6rem;
 
}



.touch h3 {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
}


/* Page 2 */


.container-img1 {
  background: url("../img/learn.jpg") no-repeat center;
  width: 100%;
  height: 100vh;
  min-height: 550px;
 background-size: cover;
}

.content h1 {
  color: rgb(243, 245, 242);
  font-weight: 600;
  font-size: 70px;
  text-align: center;
  padding-top: 7rem;
}


.content p {
  text-align: center;
  color: rgb(20, 22, 20);
  padding-top: 3rem;
  font-size: 25px;
  font-weight: 400;
}

.line-under {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.current1 {
  color: rgb(8, 8, 8);
}

.current1:hover {
  color: rgb(87, 29, 29);
}
#portfolio-buttons {
display: flex;
justify-content: center;
text-align: center;
}

.btn-portfolio {
  display: inline-block;
  font-size: 16px;
  color: black;
  background: #f5f5f8;
  padding: 10px 50px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
   
}

.btn-portfolio:hover,
.btn-portfolio.cursor
{
  background: rgb(87, 29, 29);
  color: white;
  border: none;
}

.link-buttons {
  display: flex;
  gap: 1rem;
}

#portfolio-buttons {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* port-photo */

.port-photo{
display: flex;
flex-direction: row;
width: 10px;
gap: 1.5rem;
padding-left: 1.3rem;
padding-bottom: 5rem;

}

.port-photo img {
  width: 350px;
}

.load {
  display: inline-block;
  font-size: 16px;
  color: black;
  background: #f5f5f8;
  padding: 10px 50px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}

.load:hover {
  background: rgb(87, 29, 29);
  color: white;
  border: none;
}

.more {
  padding-bottom: 6rem;
  display: flex;
justify-content: center;
text-align: center;
}

.container-img2 {
  background: url("../img/cloud6.jfif") no-repeat center;
  width: 100%;
  height: 100vh;
  min-height: 550px;
 background-size: cover;
}


/* Contact info page 2 */
.input-name {
  display: flex;
  justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

#contact-form {
  padding: 5rem 7rem;
  
  
}

.l-heading {
  padding-bottom: 3rem;
  color: #26292c;
  font-size: 18px;

}

.btn2 {
  
    display: inline-block;
    font-size: 16px;
    color: white;
    background: rgb(87, 29, 29);
    padding: 13px 60px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    
    
}
  
  .btn2:hover {
    background: black;
    color: white;
    border: none;
  }

  .cont-us {
    padding-top: 3rem;
    padding-left: 11rem;
  }
 /* .upword {
  display: flex;
  flex-direction: column;
   flex: 1;
  text-align: right;
  padding: 3rem;
 } */

 .c-info {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-start;
  padding-left: 30rem;
  color: #8c8f94;
  
}

#contact-form {
  display: flex;
  flex-direction: row;
}

.up-word h3 {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  color: #8c8f94;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
  width: 100%;
  
  
  
}

.container2 {
  border-radius: 50%;
  
}


#contact-form textarea
{
  height: 100px;
  border-radius: 25px;
  border: 1px solid #ccc;
  border-color: #bfbfc3;
}

#contact-form input {
  border-radius: 25px;
  height: 30px;
  border: 1px solid #ccc;
  border-color: #bfbfc3;
  display: inline-block;
  height: 40px;
  width: 100%;
}

.form2 {
  width: 180%;
}



#contact-form label {
  color: #26292c;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 5px;

}

.wheading {
  padding-bottom: 2rem;
  color: #26292c;
  font-size: 18px;
}


/* Blog */

.container-img3 {
  background: url("../img/blog1.jpg") no-repeat center;
  width: 100%;
  height: 100vh;
  min-height: 550px;
 background-size: cover;
}


.logo1 {
  font-size: 18px;
  line-height: 26px;
  padding: 5rem 8rem;
  color: #ccc;
}

#navbar1 .row1 {
  padding: 5rem 10rem;
  font-family: "Montserrat", sans-serif;
  color: #ccc;
}
  


#navbar1 {
  text-decoration: none;
  overflow: auto;
}

#navbar1 {
  display: flex;
  justify-content: space-between;
  
}


.gap-2 {
  gap: 1rem;
  
}

.row1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  
}

.current2 {
  color: white;
}

.current2:hover {
  color: rgb(87, 29, 29);
}

.content1 p {
  text-align: center;
  color: white;
  padding-top: 3rem;
  font-size: 25px;
  font-weight: 400;
}

.content1 h1 {
  color: rgb(243, 245, 242);
  font-weight: 600;
  font-size: 70px;
  text-align: center;
  padding-top: 7rem;
}

.row1 a{
  color: white;
}

#contact-form1 img {
  width: 80%;
}


.blog {
  padding-right: 3rem;
}


.c-info1 {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-start;
  /* padding-left: rem; */
  color: #0a0a0a;;
}

#contact-form1 {
  display: flex;
  flex-direction: row;
}

#contact-form1 {
  padding: 5rem 5rem;
  
  
}

.c-info2  {
  font-size: 18px;
  padding-bottom: 1rem;
  padding-top: 2rem;
  color: #414243;
}


.search1 {
  color: #26292c;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 5px;
}


#contact-form1 input {
  color: #969191;
  border-radius: 25px;
  border: 1px solid #ccc;
  border-color: #bfbfc3;
  display: inline-block;
  height:40px;
  width: 160%;
}

#contact-form1 a {
  padding: 0.5rem;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  color: #9fa3a7;
}

#contact-form1 a:hover {
  color: rgb(87, 29, 29);
}


